/*CSS Styling for daily screening form component*/
/*
.u-form {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  */
  .heightfix{
    height: 100vh;
    overflow: auto;
  }
  .u-div {
    display: flex;
    justify-content: space-around;
  }

  .ubutton{
    margin-bottom:2rem;
  }
  
  .ucontent-div {
    width: 70%;
  }
  
  .ulabel {
    width: 30%;
    font-family: "Fira Sans", sans-serif;
    font-size: 1.5rem;
  }
  
  .fixpadding {
    padding: 0 10px;
  }
  
  .pageHeading {
    font-family: "Fira Sans", sans-serif;
    font-size: 2.3rem;
    margin: auto;
    text-align: center;
    
  }
  
  p {
    margin: 0
  }
  hr {
    border-color:white;
}

.nav-link{
  color: #17c671;
}

.nav-link:hover{
  color: #000;
}