

.landing-page .welcome {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background: url("../img/welcome-cover.jpg") no-repeat center center fixed;
  background-size: cover;
}

.landing-page .welcome:before {
  position: absolute;
  z-index: 0;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background: #212529;
}
.btn-success {
  background-color: #17c671;
  border-color: #17c671;
  box-shadow: none;
  color: #fff;
}
.btn-success:hover {
  color: #fff;
  background-color: #14af64;
  border-color: #17c671;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(23, 198, 113, 0.25);
}
.btn.btn-pill {
  border-radius: 50px;
}

.iphone-mockup{
  max-width: 85%;
}


@media (max-width: 991px) {
  .landing-page .welcome {
    height: auto;
  }
  .landing-page .welcome .header-social-icons {
    display: none;
  }
}

@media (max-width: 767px) {
  .landing-page .welcome {
    height: auto;
  }
  .landing-page .welcome .inner-wrapper {
    padding-top: 4.5rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .landing-page .welcome .welcome-heading {
    font-size: 2.415rem;
  }
}

.landing-page .welcome .iphone-mockup {
  max-width: 85%;
}

.landing-page .section-title {
  position: relative;
}

.landing-page .section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #17c671;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -20px;
}

.landing-page .section-title.underline--left:after {
  left: 0;
  margin-left: 0;
}
/*
.landing-page .app-screenshot {
  background: url("../images/app-promo/features-background.jpg") no-repeat center center fixed;
  background-size: cover;
}
*/
.landing-page .app-screenshot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e9ecef;
  opacity: .6;
}

.landing-page .app-screenshot img {
  max-width: 300px;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.05), 0 60px 100px rgba(192, 192, 192, 0.5);
}

@media (max-width: 991px) {
  .landing-page .app-screenshot img {
    left: 50%;
    -webkit-transform: translateX(-50%, 0);
            transform: translateX(-50%, 0);
  }
}

.landing-page .feature .icon {
  border-radius: 50%;
  min-width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
  font-size: 27px;
}

@media (max-width: 767px) {
  .landing-page .feature .icon {
    margin-right: 1.5rem !important;
  }
}

.landing-page .section {
  border-bottom: 1px solid #eaebed;
}

.landing-page .section-invert {
  background: #f9fafc;
}

.landing-page .testimonials .avatar {
  max-width: 80px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .landing-page .subscribe input, .landing-page .subscribe button {
    width: 100%;
  }
}

/****======*/
